{
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        "es2017"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
